body {
    max-width: 720px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.main>section {
    margin-top: 20px;
}

hr {
    margin-bottom: 12px;
    border: 1px solid lightgrey;
}

p {
    margin-bottom: 8px;
}

ul {
    margin-top: 4px;
}

ul li {
    margin-top: 0;
}

ul ul {
    margin-top: 4px;
    margin-bottom: 6px;
}

.left-navbar {
    margin-left: -9px;
}

.btn.btn-link {
    color: #004bc4;
}

a {
    color: #004bc4;
}

a:visited {
    color: #3178eb;
}

h6 {
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 16px;
}

.paper-authors {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0px;
}

.paper {
    margin-bottom: 16px;
}

.paper-title {
    font-size: 18px;
    /* font-weight: 400; */
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.paper-subtitle {
    font-weight: normal;
    margin-bottom: 0px;
    font-size: 16px;
}

.paper-links {
    margin-bottom: 0px;
}

.paper-description {
    font-size: 15px;
    margin-bottom: 0px;
}

.icons a{
    padding-right: 16px;
}
